* {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

header {
    color: #000000;           /* Cor do texto */
    width: 100%;
    max-width: 900px;
    height: 200px;
    background-color: #00ff00;
    text-align: center;
    margin: auto;               /* Centralizando X o conteúdo */
}

section {
    width: 100%;
    max-width: 900px;
    height: auto;
    overflow: hidden;           /* Usando a cor da section para os elementos dentro dela */
    background-color: orange;
    margin: auto;
}

.caixa {
    width: 50%;
    height: 200px;
    /* background-color: #ff0000; */
    padding: 15px;
    box-sizing: border-box;     /* Mantém o tamanho original da caixa*/
    /* margin-bottom: 10px;
    margin-left: 10px; */
    float: left;                /* Um ao lado do outro... */
}

.caixinha {
    width: 25%;
    height: 200px;
    background-color: #0000ff;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

@media only screen and (max-width: 750px) {
    .caixinha {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .caixinha {
        width: 100%;
    }

    .caixa {
        width: 100%;
    }
}